<! DOCTYPE html>

<html>


<head>
    <title>Inscription</title>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="../contenu/css/style.css" type="text/css" />
    <script type="text/javascript" src="../js/footer.js"></script>

</head>

<body>
    <div id="bloc_page">
        <header>
            <div id="titre_principal">
                <h1>Inscription</h1>
            </div>
        </header>

        <div id="retour">
            <a href="/">   -retour à l'accueil- </a>
        </div>
        
        <form id="FormulaireInscription" method="POST" action="/Utilisateur/traitementInscription">

            <p>Veuillez remplir les champs suivants :</p><br />

            <p id='NomInscription'>
                <label> Nom *: </label><input type="text" name="nomSaisie" id="nomSaisie" autocomplete="off" required /> <span id='erreurNom'></span>
            </p>

            <p id='PrenomInscription'>
                <label> Prenom *: </label><input type="text" name="prenomSaisie" id="prenomSaisie" autocomplete="off" required /> <span id='erreurPrenom'></span>
            </p>

            <p id="emailInscription">
                <label id="email"> Email *: </label><input type="email" name="emailSaisie" id="emailSaisie" autocomplete="off" required />


            </p>



            <p id="villeInscription">
                <label id="ville"> Ville *: </label><input type="text" name="villeSaisie" autocomplete="off" id="villeSaisie" required />
            </p>

            <input type='button' id="Precedent" value='< Precedent' style="display: none;" />
            <input type='button' id="Suivant" value='Suivant >' />

            <p id="parapheMdp" style="display: none;">
                <label id="mdpInscrption"> Mots de passe *: </label><input type="password" name="mdpSaisie" id="mdpSaisie" autocomplete="off" required  /><span id='erreurmdp'></span>

            </p >

            <p id="parapheConfirm" style="display: none;">
                <label id="confirm"> Confirmation mots de passe *: </label><input type="password" name="confirmSaisie" id="confirmSaisie" autocomplete="off" required /><span id='erreurconfirm'></span>

            </p>




            <input style="display: none;" type='submit' id="Valider" value='Valider'   />


        </form>





        <span id='messageErreur'>

            <% if( erreurs.length > 0){ %>
            <% for(var i=0; i<erreurs.length ; i++){ %>
            <p>
                <%= erreurs[i] %>
            </p>
            <%  }%>

            <%  }%>
        </span>

        <span id='messageValidation'>
            <% if( erreurs.length == 0 ){ %>
            <p> Inscription effectuer avec succès Vous pouvez vous logger sur notre page d'accueil !</p>
            <%  }%>
        </span>

        


    </div>
    <footer id="footer"></footer>


    <script type="text/javascript">
        footer()

    </script>
    <script type="text/javascript" src="../js/verif.js"></script>
    <script type="text/javascript" src="../js/animInscription.js"></script>
</body>


</html>
