/*Feuille style CSS*/
/*Définition des polices personnalisées*/

/*Elémens principaux de la page*/

body {
    background: url('../images/fond.jpg') repeat fixed;
    font-family: verdana, sans-serif;
    color: rgb(215, 215, 215);

}

#bloc_page {
    width: 1280px;
    margin: auto;
}

#logo {
    width: 100px;
    height: 100px;
}

#Imgdeco {
    width: 15px;
    height: 15px;
}



#Imgco {
    width: 15px;
    height: 15px;
}


section h1,
footer h1,
nav a {
    font-family: comic sans ms, fantasy;
    font-weight: normal;
    text-transform: uppercase;
    /* Permet d'avoir les titres toujours en majuscules */
}

/*Header*/
header {
    display: flex;
    justify-content: center;
    color: rgb(97, 97, 97);
}

#titre_principal {
    display: flex;
    flex-direction: column;
}

header h1 {
    font-family: comic sans ms, fantasy;
    font-size: 3.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2 {
    font-family: comic sans ms, fantasy;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/*Bannières*/

#banniere_image {
    margin-top: 15px;
    width: 1280px;
    height: 200px;
    border-radius: 5px;
    background: url('../images/banniere_image.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_connexion {
    position: relative;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 80%;
    height: 160px;
    padding-top: 5px;
    padding-left: 4px;
    margin-left: 130px;
    
    background-color: #706b64;
    color: white;
    font-size: 0.9em;
    text-align: center;
}




#identifiant{
    color:black;
}

#pass {
    color: black;
}

#connexion {
    text-align: center;
}

#lien_inscription {
    position: relative;
    right: 42%;
    bottom: 25px;
    color: white;


}

/*Corps*/

section {
    display: flex;
    margin-bottom: 10px;
}



article {
    flex: auto;
    flex-direction: row;
    position: absolute;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    margin-left: 310px;
    margin-top: 20px;
    width: 51%;
 
    color: white;
    
}

article h2 {
    text-align: center;
    color: beige;
    
}

article li {
    font-size: 1em;
    
}

article a {
    
    color:darkorange;
}

aside {
    flex: auto;
    flex-direction: row;
    position: absolute;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding-top: 15px;
    margin-top: 20px;
    margin-left: 850px;
    margin-right: 0px;
    color: white;
    font-size: 0.9em;
}

aside img {
    padding-left: 120px;
}


/* Menu */

#menu {
    
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 580px;
    color: white;
    font-family: comic sans ms, fantasy;
  
}

nav {
    
    padding-left: 0px;
}

nav ul {
    margin-top: 20px;
    padding-left: 15px;
    list-style-type: none;
   
}

nav li {
    
    margin-right: 15px;
    margin-bottom: 20px;
}

nav a {
    
    font-size: 0.8em;
    padding-bottom: 2px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    
    color: lightyellow;
    border-bottom: 3px solid lightyellow;
    box-shadow: 1px 3px 6px #1c1a19;
}

nav, h1 {
    
    font-size: 1.3em;
    text-align: center;
}

/*Footer*/

footer {
    display: flex;
    padding-top: 2px;
    margin-top: 470px;
    background-color: dimgrey;
    color: bisque;
    font-family: comic sans ms, fantasy;
}

footer,
p {
    font-size: 0.9em;
}

footer h1 {
    padding-left: 5px;
    padding-top: 20px;
    font-size: 1.3em;
}

#photosEvents_passees {
    width: 70%;
}

#photosEvents_passees img {
    border: 1px solid #181818;
    margin-left: 5px;
    margin-right: 2px;
    width: 150px;
    height: 100px;

}

#contact {
    position: relative;
    bottom: 75px;
    left: 1000px;


    display: block;
    width: 14%;
    font-size: 0.9em;

}


#Parti{
   margin-left: 150px;
}


#a_propos {
    position: relative;
    bottom: 90px;
    left: 750px;
    display: block;
    width: 14%;
    font-size: 0.9em;
}

strong {
    color:bisque;
}


#nom_user{
    color:deepskyblue;
}


#ErreurConnexion {
    position: relative;
    bottom: 20px;


}





#Bienvenue_Site{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#Bienvenue_Site:target{
    display: block;
}
.popup_block{
    background: #fff;
    padding: 20px;
    border: 20px solid #ddd;
    position: relative;
    margin: 10% auto;
    width: 40%;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
}



/*     Formulaire Inscription        */

#titre_inscription {
    margin-top: 15px;
    text-decoration: underline;
}



#retour {
    color: red;
    position: relative;
    top: 95px;
    left: 45px;
    font-size: 12px;


}

#FormulaireInscription {
    background-color: lightgray;
    margin-top: 100px;
    margin-left: 40px;
    border-style: solid;
    margin-right: 150px;
}


#FormulaireInscription p {
    text-align: center;
    color: royalblue;

}


#nomSaisie {
    margin-top: 30px;
    margin-left: 175px;
}

#prenomSaisie {
    margin-left: 158px;
}




#email {
    margin-right: 30px;
}

#emailSaisie {
    margin-left: 145px;
}




#mdpSaisie {
    margin-left: 165px;
}




#confirm {
    margin-right: 10px;
}


#confirmSaisie {
    margin-left: 50px;
}




#ville {
    margin-right: 40px;

}

#villeSaisie {
    margin-left: 140px;
}




#Precedent {
    display: flex;
    bottom: 150px;
    margin-left: 50px;

}


#Suivant {

    display: flex;
    bottom: 150px;
    position: relative;
    left: 80%;
    bottom: 25px;

}

#Valider {
    margin-top: 30px;
    margin-left: 450px;
    margin-bottom: 15px;

}


#erreurNom {
    color: red;
    position: absolute;
    left:70%;
    top: 275px;
}

#erreurPrenom {
    color: red;
    position: absolute;
    left: 70%;
    top: 310px;
}


#erreurmdp {
    position: absolute;
    left: 70%;
    top: 315px;
}


#messageErreur {
    color: red;
}


#messageValidation {
    margin-top: 20px;
    color: green;
}

                                                    /*    Page User      */

#Bienvenue {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 10px;
    color: ghostwhite;
}



#banniere_image_user {
    margin-top: 50px;
    width: 1280px;
    height: 200px;
    border-radius: 5px;
    background: url('../images/banniere_image.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}




#profil_User {
    color: red;
    position: absolute;
    top: 25px;
    right: 75px;
    font-size: 9px;
}



#Profil{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#Profil:target{
    display: block;
}



.popup_block{
     background: url('../images/fond.jpg') repeat fixed;
    padding: 20px;
    border: 20px solid #ddd;
    position: relative;
    margin: 10% auto;
    width: 40%;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
    height: 400px;
    width: 500px;
    overflow: auto;
    border-radius: 10px;
}






/*      CHAT    */


#Chat {
    background-color: aliceblue;
    position: absolute;
    top: 350px;
    right: 0px;
    color: black;

   height: 375px;
    width: 325px;
    overflow: auto;
}


#titre_chat {
    text-align: center;
    border-bottom: solid;
}



#zone_chat {

    height: 200px;
    width: 325px;
    overflow: auto;
    
}




#saisieMessageChat {
    margin-right: 31px;
    margin-top: 52px;
    padding-left: 15px;
    border-top: solid;
    


}



#Arrivant {
    color: forestgreen;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 70px;
    border-radius: 25px;
    background-color: lightblue;
}



#Affiche_message {
    color: bisque;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 70px;
    border-radius: 25px;
    background-color: lightblue;
}



#deconnecter {
    color: red;
}


#disconnect {
    color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 70px;
    border-radius: 25px;
    background-color: lightblue;
}







#Profil p {
    text-align: center;

}

#Profil img {
    width:20px;
    height:20px;
}


#modif {
    margin-left: 150px;
    margin-top: 10px;
}



#Champs_Nom_Util {
    background: transparent;
    border-bottom: 1px dashed #84A3C5;
    box-shadow: none;
    border: none;
    outline: none;
    height: 25px;
    width: 50%;
    margin: 0px auto 20px auto;
}

#Champs_Prenom_Util {
     background: transparent;
    border-bottom: 1px dashed #84A3C5;
    box-shadow: none;
    border: none;
    outline: none;
    height: 25px;
    width: 50%;
    margin: 0px auto 20px auto;
}


#Champs_Ville_Util {
     background: transparent;
    border-bottom: 1px dashed #84A3C5;
    box-shadow: none;
    border: none;
    outline: none;
    height: 25px;
    width: 50%;
    margin: 0px auto 20px auto;
}


#Profil input[type=text]{
    border-bottom: 1px dashed white;
}



/*      Responsive       */


@media all and (max-width: 1280px) {

    #bloc_page {
        width: auto;
    }

    #banniere_image {
        display: flex;
        width: auto;
    }


    #banniere_image_user {
        display: flex;
        width: auto;
    }

    #banniere_connexion {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-right: 120px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;

    }

    #section {
        width: auto;
        flex-direction: row;
    }

    #article,
    aside {
        width: auto;
        margin-bottom: 15px;
    }
}