/*Feuille style CSS*/
/*Définition des polices personnalisées*/

@font-face {
    font-family: 'BallparkWeiner'
        src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
        url('polices/ballpark.woff') format('woff'),
        url('polices/ballpark.tt') format('truetype'),
        url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot#iefix') format('embedded-opentype'),
        url(polices/dayrom.woff) format('woff'),
        url(polices/dayrom.ttf) format('truetype'),
        url(polices/dayrom.svg#Dayrom) format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Elémens principaux de la page*/

body {
    background: url('../images/fond.jpg') repeat fixed;
    /*background-color: rgb(251, 245, 134);*/
    font-family: verdana, sans-serif;
    color: rgb(215, 215, 215);

}

#bloc_page {
    width: 1280px;
    margin: auto;
}

section h1,
footer h1,
nav a {
    font-family: comic sans ms, fantasy;
    font-weight: normal;
    text-transform: uppercase;
    /* Permet d'avoir les titres toujours en majuscules */
}

/*Header*/
header {
    display: flex;
    justify-content: center;
    color: rgb(97, 97, 97);
}

#titre_principal {
    display: flex;
    flex-direction: column;
}

header h1 {
    font-family: comic sans ms, fantasy;
    font-size: 3.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2 {
    font-family: comic sans ms, fantasy;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/*Bannières*/

#banniere_image {
    margin-top: 15px;
    width: 1280px;
    height: 200px;
    border-radius: 5px;
    background: url('../images/banniere_image.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_connexion {
    position: relative;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 80%;
    height: 160px;
    padding-top: 5px;
    padding-left: 4px;
    margin-left: 130px;
    background-color: #706b64;
    color: white;
    font-size: 0.8em;
}

#connexion {
    text-align: center;
}

#lien_inscription {
    color: white;
    text-align: center;

}

/*Corps*/

section {
    display: flex;
    margin-bottom: 10px;
}

article,
aside {
    text-align: justify;
}

article {
    margin-left: 130px;
    flex: auto;
    width: 40%;
}

article p {
    font-size: 0.8em;
    text-align: center;
}

aside {
    flex: auto;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding-top: 15px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 120px;
    color: white;
    font-size: 0.9em;
}

aside img {
    padding-left: 120px;
}


/*Footer*/

footer {
    display: flex;
    padding-top: 2px;
    margin-top: 60px;
    background-color: dimgrey;
    color: bisque;
    font-family: comic sans ms, fantasy;
}

footer,
p {
    font-size: 0.9em;
}

footer h1 {
    padding-left: 5px;
    padding-top: 20px;
    font-size: 1.3em;
}

#photosEvents_passees {
    width: 70%;
}

#photosEvents_passees img {
    border: 1px solid #181818;
    margin-left: 5px;
    margin-right: 2px;
    width: 150px;
    height: 100px;

}

#contact {
    padding-left: 10px;
    padding-top: 40px;
    display: block;
    width: 14%;
    font-size: 0.8em;

}

#a_propos {
    padding-top: 40px;
    display: block;
    width: 14%;
    font-size: 0.8em;
}

strong {
    color: bisque;
}


/*     Formulaire Inscription        */


#retour {
    font-weight: small;


}

#FormulaireInscription {
    margin-top: 100px;
    margin-left: 40px;
    border-style: solid;
    margin-right: 150px;
}


#FormulaireInscription,
p {
    margin-left: 50px;
}



#nomSaisie {
    margin-left: 180px;
}

#prenomSaisie {
    margin-left: 158px;
}

#emailSaisie {
    margin-left: 173px;
}

#mdpSaisie {
    margin-left: 108px;
}

#confirmSaisie {
    margin-left: 9px;
}

#villeSaisie {
    margin-left: 180px;
}


#Valider {
    margin-top: 30px;
    margin-left: 180px;
}



#erreurNom {
    color: red;
    margin-left: 50px;
}

#erreurPrenom {
    color: red;
    margin-left: 50px;
}


#erreurmdp {
    margin-left: 50px;
}


#messageErreur {
    color: red;
}


#messageValidation {
    margin-top: 20px;
    color: green;
}

/*    Page User      */


#Bienvenue {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 10px;
}

#deconnecter {
    color: red;
}

#banniere_image_user {
    margin-top: 50px;
    width: 1280px;
    height: 200px;
    border-radius: 5px;
    background: url('../images/banniere_image.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#profil_User {
    color: red;
    position: absolute;
    top: 25px;
    right: 75px;
    font-size: 9px;
    
   
}


#Chat {
    background-color: aliceblue;
    position: absolute;
    top: 500px;
    right: 0px;
    color: black;
   
    height: 410px;
    width: 434px ;
    overflow: auto;
}


#zone_chat {
    
    height: 300px;
    width: 434px ;
    overflow: auto;
  
    
}

#saisieMessageChat {
    margin-right: 31px;
    margin-top: 52px;
    padding-left: 15px;
    border: solid;
    border-style: double;
    
}




#Arrivant{
    color: green;
    
}














/*      Responsive       */


@media all and (max-width: 1280px) {

    #bloc_page {
        width: auto;
    }

    #banniere_image {
        display: flex;
        width: auto;
    }


    #banniere_image_user {
        display: flex;
        width: auto;
    }

    #banniere_connexion {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-right: 120px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;

    }

    #section {
        width: auto;
        flex-direction: row;
    }

    #article,
    aside {
        width: auto;
        margin-bottom: 15px;
    }
}
